<head>
	<style>
		body{
			margin-left: auto;
			margin-right: auto;
		}
		h1{
			color:"light green";
			font-size: 200%;
			font
		}
		p{
			font-size: 90%;
			color:"blue";
			margin:20% 30% 20% 30%;
		}
		br{
			border-style: outset;
			color:"red";
		}
		img{
			width:"300";
			height:"320"
		}
	</style>
</head>
